* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
    position: static;
}

header {
    margin: 0 auto;
    width: 500px;
    color: rgb(25, 25, 104);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;

}

button {
    color: #fff;
    background-color: rgb(29, 29, 123);
    padding: .65rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    margin: 1rem 1rem;
    display: grid;
}

button:hover {
  background-color: darkcyan;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}

form {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 0 auto;

}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label, input, button, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.2rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.2rem 0;

}

